/* Import poppins from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e9e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    margin: 100px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
}
.progress-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.step {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin: 0 30px;
    background-color: white;
    border: 1px solid rgb(110, 110, 110);
    color: rgb(110, 110, 110);
}
.step.active-step {
    background-color: #FFB200;
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
}
.description {
    text-align: center;
    margin: 30px 0;
}
.description p {
    font-size: small;
    color: rgb(110, 110, 110);
}
.form-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
}
.form-item label {
    font-size: small;
    font-weight: bold;
    margin-bottom: 10px;
}
.form-item input,
.form-item select {
    margin-bottom: 10px;
    padding: 10px 5px;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.form-item i {
    visibility: hidden;
    position: absolute;
    top: 58px;
    right: 35px;
}
.form-item i.fa-circle-question {
    visibility: visible;
    top: 17px;
    left: 120px;
}
.form-item .fa-eye {
    visibility: visible;
    position: absolute;
    right: 60px;
    cursor: pointer;
}
.form-item small {
    position: absolute;
    bottom: 0;
    visibility: hidden;
}

input:valid,
select:valid {
    border: 3px solid lightgreen;
}

input:valid ~ .fa-check-circle,
select:valid ~ .fa-check-circle{
    visibility: visible;
    color: lightgreen;
}

input:invalid,
select:invalid {
    border: 3px solid lightcoral;
}

input:invalid ~ .fa-exclamation-circle,
select:invalid ~ .fa-exclamation-circle {
    visibility: visible;
    color: lightcoral;
}

input:invalid ~ small,
select:invalid ~ small {
    visibility: visible;
    color: lightcoral;
}

.privacity {
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
.privacity input {
    margin-right: 5px;
}
.btn {
    display: flex;
    justify-content: end;
}
button {
    margin-top: 10px;
    background-color: #FFB200;
    color: #fff;
    border: 0;
    padding: 10px 5px;
    border-radius: 10px;
    width: 80px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 15px;
}
button:hover {
    transform: translateY(-0.05em);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
}
button a {
    text-decoration: none;
    color: white;
}
.back {
    background-color: white;
    color: black;
    border: 1px solid black;
}
form {
    display: relative;
    min-width: 100%;
}
.content {
    display: none;
}
.content.active {
    display: block;
}
.fa-circle-question:hover + .caloric-info{
    display: block;
    color: black;
    z-index: 2;
}
.caloric-info {
    position: absolute;
    width: 200px;
    padding: 10px;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    left: 120px;
    top: -300px;
    display: none;
    text-align: center;
}